.vscode
.idea
/node_modules/
/webview-ui/node_modules/
/webview-ui/esbuild
/webview-ui/esbuild.cmd
/webview-ui/esbuild.ps1
/webview-ui/nanoid
/webview-ui/nanoid.cmd
/webview-ui/nanoid.ps1
/webview-ui/parser
/webview-ui/parser.cmd
/webview-ui/parser.ps1
/webview-ui/resolve
/webview-ui/resolve.cmd
/webview-ui/resolve.ps1
/webview-ui/rollup
/webview-ui/rollup.cmd
/webview-ui/rollup.ps1
/webview-ui/tsc
/webview-ui/tsc.cmd
/webview-ui/tsc.ps1
/webview-ui/tsserver
/webview-ui/tsserver.cmd
/webview-ui/tsserver.ps1
/webview-ui/vite
/webview-ui/vite.cmd
/webview-ui/vite.ps1
/webview-ui/vue-demi-fix
/webview-ui/vue-demi-fix.cmd
/webview-ui/vue-demi-fix.ps1
/webview-ui/vue-demi-switch
/webview-ui/vue-demi-switch.cmd
/webview-ui/vue-demi-switch.ps1
/webview-ui/vue-tsc
/webview-ui/vue-tsc.cmd
/webview-ui/vue-tsc.ps1
