# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/node_modules/
node_modules/
.DS_Store
dist
dist-ssr
build
build-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
esbuild
./esbuild.cmd
esbuild.ps1
nanoid
nanoid.cmd
nanoid.ps1
parser
parser.cmd
parser.ps1
resolve
resolve.cmd
resolve.ps1
rollup
rollup.cmd
rollup.ps1
tsc
tsc.cmd
tsc.ps1
tsserver
tsserver.cmd
tsserver.ps1
vite
vite.cmd
vite.ps1
vue-demi-fix
vue-demi-fix.cmd
vue-demi-fix.ps1
vue-demi-switch
vue-demi-switch.cmd
vue-demi-switch.ps1
vue-tsc
vue-tsc.cmd
vue-tsc.ps1
